/* В файле AddTovarPage.css */
.AddTovarPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1); /* Чтобы добавить полупрозрачный фон */
  }
  
  .AddTovarForm {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .AddTovarForm h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  .AddTovarForm label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  .AddTovarForm input,
  .AddTovarForm select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 6px;
    font-size: 16px;
  }
  
  .AddTovarForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .AddTovarForm button:hover {
    background-color: #45a049;
  }
  