.tbl {
    overflow-x: scroll;
}

.purchase-table {
    width: 100%;
    border-collapse: collapse;
}

.purchase-table th,
.purchase-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.purchase-table th {
    background-color: #ff0000;
}

.purchase-table button {
    width: 100px; /* Ширина кнопки */
    margin: 0 5px; /* Расстояние между кнопками */
    border-radius: 30px;
  }
  
  .purchase-table td:last-child {
    display: flex;
    justify-content: space-around;
  }
  