# ASP.NET Core
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.sln.docstates

# NuGet packages
*.nuget.props
*.nuget.targets
*.lock.json
project.lock.json
packages/
*.sqlite

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# CodeRush personal settings
.cr/personal

# JetBrains Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
